.process-header{
    width: 65%;
    height: auto;
}
.background-cart{
    background-image: url("/flevosap/images/achtergrond/background-checkout.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.cart-items-card{
    background: white;
    box-shadow: -1px -1px 25px 6px rgba(0,0,0,1);
    -webkit-box-shadow: -1px -1px 25px 6px rgba(0,0,0,1);
    -moz-box-shadow: -1px -1px 25px 6px rgba(0,0,0,1);
    border: 1px solid white;
    border-radius: 25px;
}
a#backBtn{
  text-decoration: none;
  color: black;
}
.checkoutBtn{
    background-color: #B9AE0E;
    color: white;
    border: 1px solid #B9AE0E;
    transition: .3s ease-in-out;
}
.checkoutBtn:hover{
    background-color: white;
    color: #B9AE0E;
}
.deleteBtn{
    background-color: #A51D1A;
    color: white;
    border: 1px solid #A51D1A;
    transition: .3s ease-in-out;
}
.deleteBtn:hover{
    background-color: white;
    color: #A51D1A;
}
i.removeFromCartBtn{
    color: #A51D1A;
}