body{
    background-image :url("/flevosap/images/achtergrond/background-checkout.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.content-container{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px rgb(23, 22, 22);
    margin-top: 25px;
    margin-bottom: 25px;
}





.img-apple{
    width: 100%;
    height: auto;
}

.img-bar{
    max-height: 400px !important;
    max-width: 100% !important;
}
.part1 {
    font-weight: bold;
    color: #D6152F;

}

.btn-secondary{
    background: #B61212;
    width: 60%;

}

input.space1{
    width: 85%;
}

input.space2{
    width: 1%;
}


.test col-sm-12{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.quantity-pill{
    background-color: #D6152F !important;
}

.checkoutBtn{
    background-color: #B9AE0E;
    color: white;
    border: 1px solid #B9AE0E;
    transition: .3s ease-in-out;
    display: block;
    font-size: 15px;
    padding:16px 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    width: 60%;
}
.checkoutBtn:hover{
    background-color: white;
    color: #B9AE0E;
    border: 1px solid #B9AE0E;
}

input.space1{
    width: 85%;
}

input.space2{
    max-width: 22%;
}

@media only screen and (max-width: 420px){
    input.space1{
        width: 100%;
    }
    input.space2{
        max-width: 100%;
    }


}

