body, html {
    height: 100%;
}


.form-control{
    display:block;
    margin:0 auto;
}


.btn-send {
    background-color: #B9AE0E;
    color: white;
    border: 1px solid #B9AE0E;
    transition: .3s ease-in-out;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    width: 40%;
}

.btn-send:hover {
    background-color: white;
    color: #B9AE0E;
    border: 1px solid #B9AE0E;
}

h1{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal;
    font-size: 48px;
}



.ms-auto{
    list-style-type: none !important;
}
.form-control{
    border-radius: 25px !important;
    border-color: black !important;
    font-family: 'Montserrat', sans-serif !important;
}
.form-check{
    margin-bottom: 15px !important;
}
#search-courses-input{
    margin-right: 50px !important;
    margin-left: 50px !important;
}
.divider-solid{
    border-top: 2px solid black;
}


.btn-menu{
    background-color: transparent;
    border: transparent;
    margin-right: 10px;
}



@media only screen and (max-width: 1629px) {
    .navbar-space{
        padding-top: 10% !important;
    }
}

@media only screen and (max-width: 1560px){
    .btn-login{
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 992px){
    .btn-login{
        margin-top: 20px;
    }
    .navbar-container{
        justify-content: center !important;
    }
    .navbar-space{
        padding-top: 25% !important;
    }
}

@media only screen and (max-width: 768px){
    .navbar-space{
        padding-top: 30% !important;
    }
}

@media only screen and (max-width: 595px){
    #search-courses-input{
        width: 50% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .navbar-container{
        justify-content: unset !important;
        padding-right: 0 !important;
    }
    .navbar-space{
        padding-top: 50% !important;
    }
}
