.fa{
    font-size: 50px !important;
    margin-right: 25px !important;
    margin-top: 10% !important;
    color: #ffffff !important;
}
.fa:hover{
    color: red;
}
.footer{
    font-family: 'Montserrat', sans-serif;
}

