img.billboard{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
img.welcome-img{
    max-width: 85%;
    background-color: #FDEDE8;
}

div.container-second{
    background-color: #FDEDE8;
}

img.become-member-img{
    max-width: 275px;
}
.send-btn{
    background-color: #B9AE0E;
    color: white;
    border: 1px solid #B9AE0E;
    transition: .3s ease-in-out;
}
.send-btn:hover{
    background-color: transparent;
    color: #B9AE0E;
    border: 1px solid #B9AE0E;
}