.navbar{
    background-color: white !important;
    box-shadow: 1px 5px 14px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 5px 14px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 5px 14px 0px rgba(0,0,0,1);
}
a.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    transition: .3s ease-in-out;
    color: #4d4d4d !important;
}
a.nav-link:hover{
    color: rgba(214,51,47,1) !important;
}
img#navbar-logo{
    width:  89px;
    height: 75px;
}
#registerBtn{
    background: rgb(142,25,22);
    background-color: rgba(214,51,47,1);
    color: white;
    transition: .3s ease-in-out;
}
#registerBtn:hover{
    color: white;
    border: 1.5px solid rgba(142,25,22,1);
    box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -webkit-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -moz-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
}
#loginBtn{
    color: black;
    transition: .2s ease-in-out;
}
#loginBtn:hover{
    background: rgb(142,25,22);
    background-color: rgba(214,51,47,1);
    color: white;
    border: 1.5px solid rgba(142,25,22,1);
    box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -webkit-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -moz-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
}
.nav-btn{
    border: 1.5px solid rgba(142,25,22,1);
    border-radius: 15px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-family: 'Montserrat', sans-serif;
}
#basketBtn{
     background-color: transparent;
     border: none transparent;
 }
.basket-icon{
    font-size: 35px;
    color: rgba(214,51,47,1);
}
a.cart .cart-basket {
    font-size: 15px;
    position: absolute;
    top: -6px;
    right: -5px;
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: rgba(214,51,47,1);
    border-radius: 50%;
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    a.nav-link{
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
    }
    /* CSS */

}

/*
  ##Device = Normal screens "Issue with navbar fix"
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 1113px) and (max-width: 1186px) {
    a.nav-link{
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
    }
    /* CSS */

}

/*
  ##Device = Normal screens "Issue with navbar fix"
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 1042px) and (max-width: 1112px) {
    a.nav-link{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    /* CSS */

}

/*
  ##Device = Normal screens "Issue with navbar fix"
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 992px) and (max-width: 1042px) {
    a.nav-link{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
    }
    /* CSS */

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 255px) and (max-width: 480px) {
    img#navbar-logo{
        width:  69px;
        height: 55px;
    }
    /* CSS */

}