.background1{
    background-color: #ffffff;

}

.background2{
    background-color: #FDEDE8;

}

.background3{
    background-color: #ffffff;

}
img.img-bar{
    max-height: 320px !important;
    max-width: 100% !important;
}

img.img-news{
    max-height: 300px !important;
    max-width: 100% !important;
    -webkit-box-shadow: 0px 0px 15px 3px #000000;
    box-shadow: 0px 0px 15px 3px #000000;
}

.text-break{
    word-break: break-word

}