
body {
    font-family: 'Montserrat', sans-serif;
}

.headtitle {
    font-weight: bold;
    font-size: xx-large;
    color: black;
}

.text-1 {
    color: #D6332F;
}

.text-2 {
    color: #D6332F;
}

.over-ons-content {
    margin-top: -120px !important;
}



@media screen and (max-width: 768px) and (min-width: 256px){

    .over-ons-content{
        margin-top: -25px !important;
    }

}