.backShopBtn{
    background-color: #B9AE0E;
    color: white;
    border: 1px solid #B9AE0E;
    transition: .3s ease-in-out;
    display: block;
    font-size: 15px;
    padding:16px 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.backShopBtn:hover{
    background-color: white;
    color: #B9AE0E;
    border: 1px solid #B9AE0E;
}

.backHomeBtn{
    background-color: #B9AE0E;
    color: white;
    border: 1px solid #B9AE0E;
    transition: .3s ease-in-out;
    display: block;
    font-size: 15px;
    padding:16px 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.backHomeBtn:hover{
    background-color: white;
    color: #B9AE0E;
    border: 1px solid #B9AE0E;
}