.sortBtn{
    background-image: linear-gradient(to right, #D6332F 0%, #cc1e1c 51%, #A51D1A  100%);
    border-radius: 25px;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
}
.add-to-cart{
    border-radius: 25px;
    background-image: linear-gradient(to right, #D6332F 0%, #cc1e1c 51%, #A51D1A  100%);
}
.add-to-cart:hover{
    box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -webkit-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -moz-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    transition: .3s ease-in-out;
}
.add-to-cart-modal{
    background-color: transparent;
    border: none;
}
#plusBtn{
    color: white;
    font-size: 24px !important;
    font-weight: normal;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.shop-content{
    font-family: 'Montserrat', sans-serif;
}
.product-header{
    background-image: url("/flevosap/images/overige/Flevosap-Footer-achtergrond.png");
    color: white;
    box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -webkit-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -moz-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
}
.product-cards{
    background-color: rgba(255, 255, 255, .15);
}
#plusBtn2{
    color: white;
    font-size: 33px !important;
    font-weight: normal;
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: inline !important;
}

.addBtn:hover{
    background-color: #B9AE0E;
    color: white;
    transition: .3s ease-in-out;
    box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -webkit-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -moz-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
}
.minBtn:hover{
    background-color: #cc1e1c;
    color: white;
    transition: .3s ease-in-out;
    box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -webkit-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
    -moz-box-shadow: -1px 5px 11px -1px rgba(0,0,0,0.94);
}
.addBtn{
    font-size: 25px;
    font-weight: bolder;
}
.minBtn{
    font-size: 25px;
    font-weight: bolder;
}
.modal-background{
    background-image: url("/flevosap/images/overige/Flevosap-Footer-achtergrond.png");
    color: white;
}
.first-row{
    background: url("/flevosap/images/overige/Nieuws-bomen.png") top right no-repeat;
    background-size: contain;
}
.empty-space{
    background-image: url("/flevosap/images/overige/Assortiment-Flevosap-achtergrondB.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.product-items{
    backdrop-filter: blur(5px);
}